<html>
    <body>
        <h1 style="text-align: center;">Counter</h1>
        <p style="text-align: center;"><%= count %></p>
        <a href="/2">+2</button> | <a href="/clear">Clear</a>
    </body>
</html>